<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Adjust Data Source based on your Visual Studio instance (e.g. (localdb)\MSSQLLocalDB) -->
    <add name="BankDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Abc\Documents\BankAppDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>

	<appSettings>
    <add key="BankSortCode" value="101010" />
  </appSettings>
</configuration>
